footer {
    height: fit-content;
    padding: 24px 0;
    box-shadow: 0 -1px 3px rgb(0 0 0 / 10%), 0 -2px 2px rgb(0 0 0 /6%), 0 0 2px rgb(0 0 0 / 7%);
}
.footer-container {
    padding: 0 40px;
    display: flex;
    list-style-type: none;
    line-height: 4;
    justify-content: center;
    width: 100%;
    font-size: 12px;
    height: fit-content;
    font-weight: 80;
} 

.footer-container ul {
    list-style-type: none;
}
.bold{
    font-size: 20px;
    font-weight: 500;
   
}

.footer2{
    
    text-transform:uppercase;
    background-color: #000;
    padding: 20px;
    color: #ed6019;;
    letter-spacing: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
} 