.video-section{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.video-section {
    position: relative; 
    
    min-height: 700px;
    display: grid;
    color: rgb(253, 247, 247); 
    place-items: center;
    text-align: center;
    margin-top: 10px;
    /* margin-bottom: 20px; */
}
.video-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
}
.video-section .container h3 {
    margin-top: 10px;
    /* padding-top: 10px; */
}




.video-section video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.8;
    width: 100%;

}